.search-btn{
    height: 11%;
    width: 10%;
    position: absolute;
    right: 0px;
}
.book{
    color:#3699ff;
}
.plus-btn{
    background-color: white;
}
.btn-save{
    background-color: black !important;
    color:white;
}