<!-- <div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
    
    <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login" style="background-color: #0d0e19 !important;background-size: cover;background-position: bottom;">
       
        <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
           
            <div class="d-flex flex-column-fluid flex-center">
                <router-outlet></router-outlet>
            </div>
           
        </div>
      
    </div>
  
</div> -->

<div class="d-flex flex-root h-100" id="kt_login_wrapper">
    <!-- <div class="p-6 flex-fill" style="background-color: black; width: 12%;">
        <div class="col-sm-12 text-center" style="margin-top: 50%;">
            <img src="assets/LOGO1.png" style="width: 35%;"/><br>
          
        </div>
        <div class="col-12 pt-5 pb-5">
            <h5 class="font-weight-bolder text-white text-center" style="font-size: 1.4rem; font-weight: bold;">
                GALAXY MYANMAR
            </h5>
    
        </div>
    </div> -->
    <div class="p-12 flex-fill"  style="background: rgb(11,11,11);
    background: linear-gradient(165deg, rgba(11,11,11,0.6153054971988796) 35%, rgba(221,175,2,0.5844931722689075) 61%, rgba(254,201,1,0.7777704831932774) 96%); background-size: cover;background-position: bottom;">
        <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login" >
       
            <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
               
                <div class="d-flex flex-column-fluid flex-center" style="margin-top: 12%;">
                    <router-outlet></router-outlet>
                </div>
               
            </div>
          
        </div>
    </div>
  </div>